.App {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

button.submit-btn {
  padding: 4px 8px;
  border: 1px solid black;
  background-color:black;
  color: white;
  
}

.error-msg {
  color: red;
  text-align: center;
}

.success-msg {
  color: rgb(0, 204, 0);
  text-align: center;
}

h2.heading {

  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

}